<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="Project_Kel6.My.MySettings.project_kel6ConnectionString"
            connectionString="server=localhost;user id=root;persistsecurityinfo=True;database=project_kel6"
            providerName="MySql.Data.MySqlClient" />
    </connectionStrings>
    <startup>
        <supportedRuntime version="v2.0.50727" />
    </startup>
</configuration>